html { 
	background: url("./BackgroundImg/DancingFloor.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: blanchedalmond;
	font-size: 50px;
}

.robots {
	justify-items: center;
	margin-top: 100px;
}

.head {
	background-color: aqua;
} 
.left_arm {
	background-color: red;
}
.torso {
	background-color: rgb(82, 255, 197);
}
.right_arm {
	background-color: blue;
}
.left_leg {
	background-color: yellow;
}
.right_leg {
	 background-color: rgb(255, 0, 255);
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.head:hover {
	width: 300px;
    transition: 0.5s ease-in-out;
}

.upper_body { 	 
	height: 150px;
	display: flex; 
	justify-content: center;
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 
.left_arm:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
	transform: rotate(45deg);
}	

.right_arm { 
	margin-left: 10px; 
}

.right_arm:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(-45deg);
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	margin: 0 auto;
	display: flex;
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
	margin-top: 60px;
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px; 
}

.right_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(-30deg);
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	position: relative; 
	top: 100px; 
	left: 40px; 
	background-color: black;
} 

.right_eye { 
	position: relative; 
	top: 80px; 
	left: 120px; 
	background-color: black;
}






